body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

<<<<<<< HEAD
.first,.second {
  margin-top: 10px;
  margin-bottom: 10px;
}


.first {
  float: left;
  height: 291px;
  width: 308px;
  margin-right: 10px;
=======

.first, .second  {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.first {
  float: left;
  margin-right: 15px;
>>>>>>> origin
}

.second {
  float: right;
<<<<<<< HEAD
  height: 250px;
  width: 276px;
  margin-left: 10px;
=======
  margin-left: 15px;
>>>>>>> origin
}